body {
    margin-top: 4%;
    margin-right: 4%;
    margin-bottom: 3%;
    margin-left: 1.5%;
}

header {
    padding-bottom: 3%;
}

img {
    width: 100%;
    height: auto;
}

footer {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 100%;
    background-color: #E7E7E6;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

address {
    font-size: 1.1em;
    padding-left: 2%;
    padding-right: 2%;

}

textarea {
    resize: none;
    border: none;
}